:root{
  --color-azul--2: rgb(114, 181, 255);
  --color-principal: rgb(0, 122, 255);
  --color-azul-1:rgb(0, 99, 206);
  --color-azul-2:rgb(0, 69, 143);
  --color-azul-3:rgb(0, 47, 98);
  --color-secundario: rgb(255, 150, 44);
  --color-negro: rgb(37, 36, 33);
  --color-blanco: rgb(247, 247, 247);
}
/* ---------------- CONTENIDO ---------------- */
.fondo{
  width: 100%;
  background-color: var(--color-azul-3);
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
}
.contenido{
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 1300px;
  background-color: var(--color-azul-3);
  padding-top: 50px;
}
ul.breadcrumb {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  list-style: none;
}
ul.breadcrumb li {
  display: flex;
  align-items: center;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--color-blanco);
  content: ">\00a0";
}
ul.breadcrumb li a {
  display: flex;
  align-items: center;
  color: var(--color-blanco);
  text-decoration: none;
  font-size: 16px;
}
ul.breadcrumb li a:hover {
  color: var(--color-azul--2);
}
ul.breadcrumb img{
  height: 25px;
  width: auto;
}
.area-juego{
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: space-between;
}
.publicidad-juego{
  width: 150px;
}
.juego{
  height: 580px;
  width: 920px;
}
.juego-box{
  height: 530px;
}
.juego-cerrado{
  background-image: url('../img/game/fondo-juego-cerrado.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: white;
}
.juego-cerrado img{
  border-radius: 10px;
  height: 110px;
  width: auto;
}
.juego-cerrado h3{
  margin: 15px 0px;
  width: auto;
}
.boton-jugar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 200px;
  border-radius: 15px;
  border: 0;
  background-color:var(--color-juego-boton-jugar);
  cursor: pointer;
  color: var(--color-negro);
}
.boton-jugar:hover{
  background-color:var(--color-negro);
  color:var(--color-secundario);
  border: 2px solid var(--color-secundario);
}
.boton-jugar img{
  margin-left: 5px;
  height: auto;
  width: 30px;
  border-radius: 0;
}
.boton-jugar h2{
  padding-bottom: 3px;
}
.juego-ejecutandose{
  background-image: url('../img/game/fondo-juego-ejecutandose.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}
.juego-barra{
  display: flex;
  height: 50px;
  background-color: var(--color-azul-1);
  justify-content:space-between;
}
.juego-barra-cont-izq{
  display: flex;
  align-items: center;
}
.juego-barra-cont-izq img{
  height: 40px;
  margin: 5px 10px;
  width: auto;
}
.juego-barra-cont-izq h3{
  font-weight: bolder;
  color: var(--color-blanco);
}
.juego-barra-cont-der{
  display: flex;
  align-items: center;
}
.juego-barra-cont-der img{
  height: 30px;
  margin-right: 20px;
  width: auto;
  cursor: pointer;
}
.descripcion-juego{
  color: var(--color-blanco);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  width: 920px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: var(--color-azul-2);
}
.descripcion-juego a{
  text-decoration: none;
  color: var(--color-principal);
}
.descripcion-juego a:hover{
  color: var(--color-azul-3);
}
.descripcion-juego h3, .descripcion-juego h4{
  font-weight: bolder;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-color: var(--color-blanco);
  border-bottom: 2px solid;
}
.descripcion-juego h4{
  margin-bottom: 10px;
}
.descripcion-juego p{
  font-weight: lighter;
  margin-bottom: 20px;
}
.descripcion-juego-img-video{
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
}
.descripcion-juego-img-video img, video{
  height: 200px;
  width: auto;
  border-radius: 20px;
}

/* ---------------- COMENTARIOS ---------------- */

.comentarios{
  color: var(--color-blanco);
  margin-top: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.comentarios-titulo{
  display: flex;
  align-items: center;
  height: 65px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  border-color: var(--color-azul-1);
}
.comentarios-titulo img{
  height: 50px;
  width: auto;
  margin-right: 10px;
}
.comentarios-subircomentario{
  padding: 50px 10px;
  display: flex;
}
.comentarios-subircomentario img{
  height: 60px;
  width: auto;
}
.comentarios-subircomentario-box{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid;
  border-color: var(--color-azul-1);
  background-color: var(--color-azul-2);
  padding: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.comentarios-subircomentario-box-cont-input{
  display: flex;
  background-color: var(--color-azul-1);
  border-radius: 10px;
  width: 680px;
  height: 40px;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 5px;
}
.comentarios-subircomentario-box-cont-input input{
  background-color: var(--color-azul-1);
  border: none;
  outline: none;
}
.comentarios-subircomentario-box-cont-input input::placeholder{
  color: var(--color-blanco);
  font-family: 'Rowdies';
}
.cont-input-comentario input{
  background-color: var(--color-azul-1);
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  color: var(--color-blanco);
  
}
.cont-input-comentario input::placeholder{
  color: var(--color-blanco);
  font-family: 'Rowdies';
  font-weight: lighter;
}
.boton-comentar{
  align-self: end;
  width: 80px;
  height: 25px;
  border: none;
  color: var(--color-blanco);
  background-color:var(--color-azul-1);
  border-radius: 10px;
  font-family: 'Rowdies';
  font-weight: lighter;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}
.boton-comentar:hover{
  transform: scale(0.8);
}
.comentarios-filtros{
  display: flex;
  width: 800px;
  justify-content: space-between;
  height: 65px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  border-color: var(--color-azul-1);
}
.comentarios-filtros img{
  margin-right: 10px;
  height: 50px;
  width: auto;
}
.comentarios-filtros-ultimos, .comentarios-filtros-destacados{
  display: flex;
  align-items: center;
}

.comentario{
  margin: 40px 0px;
  border-radius: 10px;
  height: 105px;
  border: 3px solid;
  border-color: var(--color-azul-1);
  background-color: var(--color-azul-2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.comentario-partesuperior{
  height: 50%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-color: var(--color-azul-1);
  padding: 5px 8px;
}
.comentario-partesuperior img{
  width: auto;
  height: 35px;
 
}
.comentario-partesuperior-dueño{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comentario-partesuperior-dueño img{
  margin-right: 8px;
  height: 40px;
}
.comentario-partesuperior-botones{
  display: flex;
  align-items: center;
}
.comentario-partesuperior-botones img{
  margin: 0px 3px;
  cursor: pointer;
}
.comentario-parteinferior{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
}
.comentario-parteinferior p{
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color-azul-1);
  height: 100%;
  width: 100%;
  padding: 8px;
}
#texto-carrito{
  font-size: 36px;
  color:var(--color-blanco);
  margin-top: 97px;
  font-family: 'Rowdies';
  font-weight: bolder;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
